0 - Collect user requirements first - from different types of users
1 - user experience
2 - Product roadmap - divide the process into clearly defined phases.

Interviews - 

Saida - 1) opportunity portal - if I have an opportunity, I would like to offer it to my alumna
	2) 



Phase 0 - Customer & Market Research

Phase 1 - opportunity portal 
	- start with a single system
	- 

Phase 2 - 





Call Yoga

Saida- Good Attitude, keep

Yoga's feedback - 
1) good communication

2) Not seen enough on actual development side, get your hands dirty

3) Have a good combo of technical and soft skills

4) Having enough depth of the way things are built are necessary even in sales.

5) Have technological literacy.

6) Don't wait for people to limit you

7) Go DEEP, understand why we do something, reverse engineer

8) Only when you love something, will you produce good work

9) Attitude and mindset come after you have consistently done something

